.mySwiper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  height: 400px;
  background-color: #112240;
  border-radius: 5px;
  box-shadow: 0 10px 10px -30px rgba(2,12,27,0.9);
  margin-top: 20px;
}

.containerCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px 35px;
  flex-direction: column;
}

.containerCarousel > section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
  width: 100%;
  margin-bottom: 10px;
}

a > svg{
  color: #63fdd9;
}

.descriptionCard {
  margin-top: 20px;
  opacity: .3;
}

.descriptionCardProjects {
  opacity: .7;
}

.titleCardProjects {
  font-size: 1.7rem;
  padding:0 20px;
  margin-bottom: 10px;
  opacity: .8;
}

.iconsExternalLinks{
  margin-left: 5px;
  opacity: .8;
}
