.swiper {
  max-width: 500px;
  width: 100%;
  padding: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination {
  margin-top: 5px;
}

.swiper-button-next, .swiper-button-prev {
  display: none;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px var(--swiper-pagination-bullet-horizontal-gap,5px);
}